body {
  background-image: url('https://t3.ftcdn.net/jpg/02/44/84/64/360_F_244846406_0IlOcQnbtAdGM6kZ2Ul2S2FBYJngaPMR.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 70px;
}

h1 {
  color: white;
  font-size: 80px;
  font-family: copperplate, fantasy;
}

h4{
  color: white;
  font-size: 25px;
  font-family: monoco, monospace;
}

p{
  color: white;
}

#hideAndSeekWithDoge{
  position: fixed;
  bottom: 100px;
  right: 125px;
}

#travelToWorldOfPigs{
  position: fixed;
  bottom: 120px;
  left: 230px;
}

h5{
  color: white;
  position: fixed;
  bottom: 75px;
  right: 50px;
  color: white;
  font-size: 20px;
  font-family: monoco, monospace;
}

h6{
  color: white;
  position: fixed;
  bottom: 90px;
  left: 165px;
  color: white;
  font-size: 20px;
  font-family: monoco, monospace;
}